.history-products ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    justify-content: left;
}

.history-products li{
    flex-basis: 300px;
    text-align: left;
}

.history-products h3{
    text-align: center;
}