.history-item{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #FFF;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.history-item-info h2{
    font-size: 1.7rem;
}

.history-item-image{
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #AAA;
}

.history-item-image img{
    border-radius: 10px;
}

.history-item-info{
    display: flex;
    align-self: stretch;
    flex-direction: column;
}

.history-item-info p{
    flex: 1;
    color: #555;
    font-size: 1.1rem;
}